@using Web.Controllers
@using Web.Extensions
@model Web.ViewModels.CategorySearchModel
@{
	var urls = Model.Categories.Select(category => 
		Url.Action(nameof(CatalogController.GetProductsByCategory),
						ControllerExtensions.GetName<CatalogController>(),
						new { name = category.Name })).ToArray();
}

<ul class="row justify-content-start align-items-start m-0 p-0">
	@for(int i = 0; i < Model.Categories.Count; i++)
	{
		var categoryModel = Model.Categories[i];
		var url = urls[i];

		<li class="card m-1 rounded-4 text-black" style="width: 10em;">
			<img src="~/Resources/CategoryImages/@string.Concat(categoryModel.Name, ".jpg")" style="height: 8em;" class="card-img-top" alt="@categoryModel.Name">
			<div class="card-body p-2">
			  <p class="card-text text-center m-0">@categoryModel.Name</p>
				<a href="@url" class="stretched-link"></a>
			</div>
		</li>
	}
</ul>