@using Web.Controllers
@using Web.Extensions
@{
   var categoryUrl = Url.Action(nameof(CategoryController.GetCategories), 
                                ControllerExtensions.GetName<CategoryController>());
}

<div class="container min-vh-100">
   <ul style="list-style: none;">
      <li class="p-2">
         <div id="categories" class="bg-light rounded-4 p-3">
            <h3 class="mb-1 text-secondary-50">Categories</h3>
            <div id="categories-body"></div>
         </div>
      </li>
   </ul>
</div>

<script>
   $.ajax({
      url: "@categoryUrl",
      type: 'GET',
      success: function(data) {
         $("#categories-body").html(data);
      }
   })
</script>