@using Web.Controllers
@using Web.Extensions
@{
   var categoryUrl = Url.Action(nameof(CategoryController.GetCategories), 
                                ControllerExtensions.GetName<CategoryController>());
}
   
<div class="container bg-light min-vh-100 rounded-4">
   <div>
      <div class="p-4 row align-items-start justify-content-between">
         <div id="filterSection" class="col-2 min-vh-100 bg-dark rounded-4">
            FILTER SECTION
         </div>
         <div id="productSection" class="p-4 col-catalog min-vh-100 bg-dark rounded-4">
         </div>
      </div>
   </div>
</div>

<script>
   $.ajax({
      url: "@categoryUrl",
      type: 'GET',
      success: function(data) {
         $("#productSection").html(data);
      }
   })
</script>