@{
		ViewData["modal"] = "exampleModal";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PCWorld</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
	<header>
		<nav id="navBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
			<div class="container">
				<a class="navbar-brand" asp-action="Index" asp-controller="Home">PCWorld</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						  aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-action="Index" asp-controller="Home">Home</a>
						</li>
						<li class="nav-item">
							<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
								<ul class="navbar-nav">
									<li class="nav-item dropdown">
										<a class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Account
										</a>
										<partial name="~/Views/Account/AccountWidget.cshtml"/>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" id="showProductsBtn" href="#">Show products</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main id="realBody" role="main" class="pb-3 pt-3">
			<div class="modal fade" id="@ViewData["modal"]" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" id="md">
				</div>
			</div>

			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - PCWorld
		</div>
	</footer>

	@await RenderSectionAsync("Scripts", required: false)

	<script>
		$(document).ready(function() {
			 $('#realBody').css('margin-top', $('#navBar').outerHeight() + 'px');
		});

		$('body').on('click', '#showProductsBtn', function() {
			var url = "/products/list";
			$.ajax({
				url: url,
				type: 'GET',
				success: function(data) {
					$('#productSection').html(data);
				}
			})
		});
	</script>

</body>
</html>